html {
  background-color: #262a33;
}

.App {
  text-align: center;
  min-height: 100vh;
  width: 100vw;
  color: black;
  font-family: 'Roboto', sans-serif;
}

.Header {
  background-color: #16171a;
  color: white;
  padding: 0 2.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.Header h3 {
  user-select: none;
  font-size: 1.2em;
}

.App-link {
  color: #61dafb;
}

@media only screen and (max-width: 600px) {
  .Header {
    flex-direction: column;
    padding-bottom: 0em;
  }
}
